.modal-container-filter {
    -webkit-backdrop-filter: brightness(0.7);
    backdrop-filter: brightness(0.7);
    position: fixed;
    width: 100%;
    height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.filter-modal {
    height: auto;
    width: min-content;
}

.modal-header{
    justify-content: space-between;
}

.modal-content{
    position: relative;
}

.top-right {
    right: -4px;
    top: -4px;
    position: absolute;
}

.apply-filter-btn {
    position: relative;
    top: 0rem;
    right: -17rem;
}